# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# SIMPLIFIED CONFIG: Let CI auto-fix formatting, pre-commit only checks critical issues
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Auto-fix formatting (won't fail, just fixes)
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        args: [--line-length=120]
        stages: [commit]

  # Auto-fix imports (won't fail, just fixes)
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=120]
        stages: [commit]
